# SPDX-License-Identifier: GPL-2.0-only
# SPDX-FileCopyrightText: 2025 TNG Technology Consulting GmbH

strace.log
files_touched.txt
source_files_touched.txt
filtered_source_files_touched.txt
strace_only.txt
sbom_used_files_only.txt
