# SPDX-License-Identifier: GPL-2.0-only
# SPDX-FileCopyrightText: 2025 TNG Technology Consulting GmbH

name: Sbom 

on:
  workflow_dispatch:
    inputs:
      test_archive:
        description: Name of the test archive to download from https://fileshare.tngtech.com/d/e69946da808b41f88047/
        default: linux.v6.17.tinyconfig.x86.tar.gz
      output_tree: 
        description: Path to the output tree relative to the src tree
        default: kernel_build
      arch:
        description: The architecture on which the kernel was built
        default: x86
        type: choice
        options:
          - x86
          - arm64
      use_modules:
        description: Whether to include modules into the sbom
        default: false
        type: boolean
      validate:
        description: Whether to valdiate the generated spdx document using the java spdx tools
        default: false
        type: boolean
  workflow_call:
    inputs:
      test_archive:
        required: true
        type: string
      output_tree:
        required: true
        type: string
      arch:
        required: true
        type: string
      use_modules:
        required: true
        type: boolean
      validate:
        required: true
        type: boolean

run-name: ${{ inputs.test_archive }}

jobs:
  sbom:
    name: ${{ inputs.test_archive }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download ${{ inputs.test_archive }}
        run: |
          sudo mkdir /workspace
          sudo chown $USER:$USER /workspace
          cd /workspace
          test_archive="${{ inputs.test_archive }}"
          echo "Downloading $test_archive"
          curl -L -o "$test_archive" "https://fileshare.tngtech.com/d/e69946da808b41f88047/files/?p=%2F$test_archive&dl=1"
          tar -xzf "$test_archive"

      - name: Prepare roots.txt
        run: |
          declare -A primaryRoots=(
            [x86]="arch/x86/boot/bzImage"
            [arm64]="arch/arm64/boot/Image"
          )
          echo ${primaryRoots["${{ inputs.arch }}"]} > roots.txt
          
          if [ "${{ inputs.use_modules }}" = "true" ]; then
            python3 sbom_analysis/module_roots.py \
              /workspace/linux/${{ inputs.output_tree }}/modules.order \
              module_roots.txt
            cat module_roots.txt >> roots.txt
          fi
          
          echo "=================roots.txt=================="
          cat roots.txt

      - name: Run sbom.py
        id: run_sbom
        run: |
          export SRCARCH="${{ inputs.arch }}"

          python3 sbom/sbom.py \
            --src-tree /workspace/linux \
            --output-tree /workspace/linux/${{ inputs.output_tree }} \
            --roots-file roots.txt \
            --spdx sbom.spdx.json \
            --used-files sbom.used_files.txt \
            --package-license "GPL-2.0 WITH Linux-syscall-note" \
            --prettify-json
          
          test_archive="${{ inputs.test_archive }}"
          output_dir="${test_archive%.tar.gz}"
          echo "output_dir=$output_dir" >> $GITHUB_OUTPUT

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sbom-outputs-${{ steps.run_sbom.outputs.output_dir }}
          path: |
            sbom.spdx.json
            sbom.used_files.txt
          retention-days: 30
        
      - name: Validate sbom.spdx.json
        id: validate_sbom
        run: |
          echo "Expand custom context"
          .github/scripts/sbom/expand-custom-context.sh sbom.spdx.json

          echo "Validate expanded sbom.spdx.json"
          export SPDX_TOOLS_VERSION=2.0.2
          curl -LO "https://github.com/spdx/tools-java/releases/download/v${SPDX_TOOLS_VERSION}/tools-java-${SPDX_TOOLS_VERSION}.zip"
          unzip -j "tools-java-${SPDX_TOOLS_VERSION}.zip" "tools-java-${SPDX_TOOLS_VERSION}-jar-with-dependencies.jar"
          java -Xmx15G -Xms12G -jar "tools-java-${SPDX_TOOLS_VERSION}-jar-with-dependencies.jar" Verify "sbom.spdx.json"
        if: ${{ inputs.validate }}
