# SPDX-License-Identifier: GPL-2.0-only OR MIT
# Copyright (C) 2025 TNG Technology Consulting GmbH

name: Sbom all Configs

on:
  workflow_dispatch:
    inputs:
      use_modules:
        description: Whether to include modules into the sbom
        default: true
        type: boolean

run-name: Sbom all Configs

jobs:
  sbom-all-configs:
    uses: ./.github/workflows/sbom.yaml
    with:
      test_archive: ${{ matrix.test_archive }}
      src_tree: ${{ matrix.src_tree || 'linux' }}
      obj_tree: ${{ matrix.obj_tree || 'linux/kernel_build' }}
      arch: ${{ matrix.arch || 'x86' }}
      use_modules: ${{ matrix.use_modules != 'false' && inputs.use_modules }} # use string 'false' because boolean false and undefined are undistinguishable 
    strategy:
      fail-fast: false 
      matrix:
        include:
          # v6.1
          # - test_archive: linux.v6.1.y.localmodconfig.Ubuntu25.04.x86.tar.gz
          # - test_archive: linux.v6.1.y.gregkh-linux-stable.x86.tar.gz
          - test_archive: linux.v6.1.y.gregkh-linux-stable.x86.in-tree.tar.gz
            obj_tree: linux
          # v6.6
          # - test_archive: linux.v6.6.y.gregkh-linux-stable.x86.tar.gz
          # v6.12
          # - test_archive: linux.v6.12.y.gregkh-linux-stable.x86.tar.gz
          # v6.16
          # - archive: linux.v6.16.y.allmodcondig.x86.rust.tar.gz
          # v6.17
          - test_archive: linux.v6.17.tinyconfig.x86.tar.gz
            use_modules: 'false'
          # - test_archive: linux.v6.17.defconfig.x86.tar.gz
          - test_archive: linux.v6.17.defconfig.x86.rust.tar.gz
          - test_archive: linux.v6.17.allmodconfig.x86.tar.gz
          # - test_archive: linux.v6.17.localmodconfig.Ubuntu24.04.x86.tar.gz
          - test_archive: linux.v6.17.y.gregkh-linux-stable.x86.tar.gz
          # - test_archive: linux.v6.17.y.gregkh-linux-stable.arm64.rust.tar.gz
          #   arch: arm64
          # yocto
          - test_archive: linux-yocto.6.12.core-image-minimal.x86.tar.gz
            src_tree: poky/build/tmp/work-shared/qemux86-64/kernel-source
            obj_tree: poky/build/tmp/work/qemux86_64-poky-linux/linux-yocto/6.12.47+git/linux-qemux86_64-standard-build
