# SPDX-License-Identifier: GPL-2.0-only
# SPDX-FileCopyrightText: 2025 TNG Technology Consulting GmbH

name: Sbom 

on:
  workflow_dispatch:
    inputs:
      test_archive:
        description: Name of the test archive to download from https://fileshare.tngtech.com/d/e69946da808b41f88047/
        default: linux.v6.17.tinyconfig.x86.tar.gz
      src_tree: 
        description: Path to the source tree
        default: linux
      obj_tree: 
        description: Path to the object tree
        default: linux/kernel_build
      arch:
        description: The architecture on which the kernel was built
        default: x86
        type: choice
        options:
          - x86
          - arm64
      use_modules:
        description: Whether to include modules into the sbom
        default: false
        type: boolean
  workflow_call:
    inputs:
      test_archive:
        required: true
        type: string
      src_tree:
        required: true
        type: string
      obj_tree:
        required: true
        type: string
      arch:
        required: true
        type: string
      use_modules:
        required: true
        type: boolean

run-name: ${{ inputs.test_archive }}

jobs:
  sbom:
    name: ${{ inputs.test_archive }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download ${{ inputs.test_archive }}
        run: |
          sudo mkdir /workspace
          sudo chown $USER:$USER /workspace
          cd /workspace
          test_archive="${{ inputs.test_archive }}"
          echo "Downloading $test_archive"
          curl -L -o "$test_archive" "https://fileshare.tngtech.com/d/e69946da808b41f88047/files/?p=%2F$test_archive&dl=1"
          tar -xzf "$test_archive"

      - name: Prepare roots.txt
        run: |
          declare -A primaryRoots=(
            [x86]="arch/x86/boot/bzImage"
            [arm64]="arch/arm64/boot/Image"
          )
          echo ${primaryRoots["${{ inputs.arch }}"]} > roots.txt
          
          if [ "${{ inputs.use_modules }}" = "true" ]; then
            python3 sbom_analysis/module_roots.py \
              /workspace/${{ inputs.obj_tree }}/modules.order \
              >> roots.txt
          fi
          
          echo "=================roots.txt=================="
          cat roots.txt

      - name: Run sbom.py
        id: run_sbom
        run: |
          export SRCARCH="${{ inputs.arch }}"

          python3 sbom/sbom.py \
            --src-tree /workspace/${{ inputs.src_tree }} \
            --obj-tree /workspace/${{ inputs.obj_tree }} \
            --roots-file roots.txt \
            --generate-spdx \
            --generate-used-files \
            --package-license "GPL-2.0 WITH Linux-syscall-note" \
            --prettify-json \
            --debug
          
          test_archive="${{ inputs.test_archive }}"
          output_dir="${test_archive%.tar.gz}"
          echo "output_dir=$output_dir" >> "$GITHUB_OUTPUT"

          generated_sboms=(sbom-source.spdx.json sbom-build.spdx.json sbom-output.spdx.json)
          if [[ "${{ inputs.src_tree }}" == "${{ inputs.obj_tree }}" ]]; then
            generated_sboms=(sbom-build.spdx.json sbom-output.spdx.json)
          fi
          {
            echo "generated_sboms<<EOF"
            printf "%s\n" "${generated_sboms[@]}"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sboms-${{ steps.run_sbom.outputs.output_dir }}
          path: |
            ${{ steps.run_sbom.outputs.generated_sboms }}
            sbom.used-files.txt
          retention-days: 30
        
      - name: Validate sbom.spdx.json
        id: validate_sbom
        run: |
          mapfile -t generated_sboms <<< "${{ steps.run_sbom.outputs.generated_sboms }}"
          .github/scripts/sbom/validate-spdx-documents.sh "${generated_sboms[@]}"
